.product_container
{
  margin-top: 20px;
}
.stars
{
  height: 15px;
}
.price
{
  color: #FE980F;
  font-size: 26px;
  font-weight: bold;
  padding-top:20px;
}
.input
{
  border: 1px solid rgb(128, 124, 124);
  font-weight: bold;
  height:33px;
  text-align:left;
  width: 10px ;
}